* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Palatino, Optima, Georgia, serif, "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "SimSun", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", 'Segoe UI', AppleSDGothicNeo-Medium, 'Malgun Gothic', Verdana, Tahoma, sans-serif;
}
.container {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;
}
h1 {
    color: #C50807;
    font-size: 34px;
    margin-bottom: 20px;
}
h1 span {
    font-size: 14px;
}
h1 .logout {
    float: right;
    font-size: 14px;
    color: #409EFF;
}
.log pre {
    line-height: 1.5;
    font-size: 14px;
    color: #333;
}
.log .load {
    margin-top: 20px;
}
